{% extends layout('page') %}


{% block title %}Erro {{ error.code }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error-handler.css') }}">
{% endblock %}

{% block content %}
    <main id="error" class="shadow mb-2">
        <div id="code" class="px-3 pt-2 pb-1 rounded-top">
            <span class="fw-semibold">_{{ error.code }}</span>
        </div>
        <div id="description" class="px-3 pb-2 rounded-bottom">
            <span class="fw-light">{{ error.description }}</span>
        </div>
    </main>
    <footer class="d-flex align-items-center justify-content-center w-100">
        <a class="text-decoration-none" href="{{ url_for('index') }}">
            <img class="me-1" src="{{ url_for('static', filename='images/capture-sync.png') }}">
            <span class="fw-semibold text-white">CaptureSync</span>
        </a>
    </footer>
{% endblock %}