#error {
    min-height: 100vh;
}

#error #code, #error #description  { 
    background-color: var(--secondary-color);
 }

#error #code { 
    color: var(--primary-color);
 }

#error #description {
    color: white;
    font-size: small;
}

#print-sync img { 
    width: 20px;
    height: 20px;
    transition: transform 0.3s; 
}

#print-sync img:hover { 
    transform: scale(1.1);
 }

#print-sync .fw-semibold { 
    font-size: small;
 }