header {
    & img {
        width: 30px;
        height: 30px;
    }

    & h1 { font-size: larger; }
}

table {
    text-wrap: nowrap;

    & .pointer { cursor: pointer; }

    & .created-at { font-size: small; }

    & th, td {
        color: #FFFFFF !important;
        background-color: var(--secondary-color) !important;
        align-items: center; 
    }

    & .material-symbols-outlined { font-size: medium; }
}

footer { font-size: small; }