@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@import url('./_variables.css');


/* GENERAL */

* { 
    box-sizing: content-box;
    font-family: 'Nunito Sans', sans-serif; 
}

body { 
    background-color: var(--bg-primary);
 }

h1, h2, h3, h4, h5, h6 { 
    margin-bottom: 0;
 }

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #71717a;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #1f2937;
}


/* MACROS */

noscript {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

noscript .noscript-overlay {
    padding: 15px 20px;
}


/* SPACING */

.py-min { 
    padding-top: 2.5rem !important; 
    padding-bottom: 2.5rem !important; 
}
.pt-min { 
    padding-top: 2.5rem !important;
 }
.pb-min { 
    padding-bottom: 2.5rem !important;
 }