{% extends template('_base') %}

{% block title%}Início{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <header class="container d-flex align-items-center justify-content-center pb-3 pt-min">
        <img class="me-2" src="{{ url_for('static', filename='images/print-sync.png') }}">
        <h1 class="text-white">Print<b>Sync</b></h1>
    </header>
    <main class="container pb-2">
        <div class="table-responsive rounded">
            <table class="table table-borderless table-hover mb-0">
                <tbody>
                    {% if images %}
                        {% for image in images %}
                            <tr class="pointer">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="material-symbols-outlined me-2">
                                            person
                                        </span>
                                        {{ image.author }}
                                    </div>
                                </th>
                                <td class="created-at">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="material-symbols-outlined me-2">
                                            schedule
                                        </span>
                                        {{ format_dt(image.created_at, today) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined text-secondary">
                                            open_in_new
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="fst-italic text-center py-5">Nada encontrado...</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
