{% extends template('_base') %}

{% block title%}Início{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <header class="d-flex align-items-center justify-content-center">
        <img class="me-2" src="{{ url_for('static', filename='images/print-sync.png') }}">
        <h1 class="text-white">Print<b>Sync</b></h1>
    </header>
    <main class="container pb-min">
            <div class="page-title">
                <span class="material-symbols-outlined me-2">manage_search</span>
                <h1>Gerenciar imagens</h1>
            </div>
        <div class="card-page">
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if images %}
                            {% for image in images %}
                                <tr class="pointer" data-image-name="{{ image.file_name }}">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined me-2">
                                                person
                                            </span>
                                            {{ image.author }}
                                        </div>
                                    </th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined me-2">
                                                schedule
                                            </span>
                                            {{ format_dt(image.created_at, today) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined text-secondary">
                                                download
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="fst-italic text-center py-5" colspan="3">Nada encontrado...</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const pointerRows = document.querySelectorAll('.pointer');

            pointerRows.forEach(row => {
                row.addEventListener('click', function () {
                    const imageName = this.getAttribute('data-image-name');
                    window.open(`/uploads/${imageName}`, '_self');
                });
            });
        });
    </script>
{% endblock %}