{% extends layout('page') %}


{% block title%}Início{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <header class="container d-flex align-items-center justify-content-center pt-min">
        <img class="me-2" src="{{ url_for('static', filename='images/print-sync.png') }}">
        <h1 class="text-white">PrintSync</h1>
    </header>
    <main class="container pt-4 pb-2">
        <div class="table-responsive rounded">
            <table class="table table-borderless table-hover mb-0">
                <tbody>
                    <tr>
                        <td class="ps-3 py-3">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined me-2">
                                    person
                                </span>
                                Teste
                            </div>
                        </th>
                        <td class="ps-3 py-3">
                            <div class="d-flex align-items-center text-secondary">
                                <span class="material-symbols-outlined me-2">
                                    schedule
                                </span>
                                {{ format_dt(dt_now(), dt_now()) }}
                            </div>
                        </td>
                        <td class="px-3 py-3">
                            <div class="d-flex text-center justify-content-end h-100">
                                <span class="material-symbols-outlined text-secondary">
                                    open_in_new
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="container text-white fw-semibold pb-min">
        Exibindo X resultados.
    </footer>
{% endblock %}

{% block script %}
{% endblock %}