<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title required %}{% endblock %} · PrintSync</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block style %}{% endblock %}
    </head>

    <body class="container d-flex flex-column align-items-center justify-content-center">
        <noscript class="d-flex align-items-center justify-content-center px-2">
            <div class="noscript-overlay bg-white rounded shadow">
                <p>Para acessar corretamente os recursos da página, 
                <b>habilite a execução de scripts</b> no seu navegador.</p>
            </div>
        </noscript>
        {% block content required %}{% endblock %}
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </body>
</html>